body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0;
    padding: 0;
    max-width: 3000px;
    width: 100%;
}
.first{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: flex-start;
    padding: 20px 125px 20px 125px;
    gap: 0px;

}

a, .logo{
    text-decoration: none;
    color: #f9faf8;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.links{
    display: flex;
    gap: 30px;
    font-size: 18px;
    color:#E5E7EB;
}
.titletext-image{
    display: flex;
    gap: 90px;
    align-items:center;
    height:400px;
}
.title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    width: 300px;
    margin:0px;
}
.titletext{
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1;
    gap:10px;
}
.titletext p1{
    color: #e5e7eb;
    width: 400px;
    font-size: 18px;
    filter: brightness(0.8); 
    font-weight: 100;
}
.image img{
    width:500px;
    height: 250px;
    flex: 1;
    border-radius: 30px;
}
.sign-up{
    width: 70px;
    height:20px;
    background-color: #3882F6;
    border: none;
    border-radius: 10%;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 120px 80px 120px;
}
.all-pairs{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
}
.pair{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pair img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}
.information{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin-bottom: 30px;
}
.third{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 80px;
}
.third .quote{
    width:600px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: center;
}
.third .name{
    font-weight: bold;
    align-self: center;
    padding-left: 340px;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 160px;
    padding-left: 160px;
    
}
.container{
    background-color: #3882F6;
    width:800px;
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    border-radius: 10px;
}
.action{
    display: flex;
    color: #e5e7eb;
    flex-direction: column;
    gap: 3px;
}
.action .bolder{
    font-weight: bold;
}
.sign-up-bottom{
    color: #e5e7eb;
    background-color: #3882F6;
    border-color: #e5e7eb;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: #1F2937;
    padding-top: 35px;
    padding-bottom: 35px;

}
.copyright{
    color: #e5e7eb;
}


